<div class="top-wrapper">
	<div class="container">
		<h1>こちらのサイトでは私の自己紹介をさせていただきます。</h1>
		<p>私は現在都内でサラリーマンとして働いております。</p>
		<p>現在プログラミングを学んでおり、収入をアップさせようと努力しています。<br><br></p>
	</div>
	<div class="btn-wrapper">
	<a href="#" class="btn menu">趣味</a>
	<a href="#" class="btn menu">仕事</a>
	<a href="#" class="btn menu">目標</a>
</div>
</div>


<div class="contents">
	<h2>HTML/CSS</h2>
	<%= image_tag("html.jpg") %>
	<p>私が最初に学んだのはHTMLとCSSです。全く知識がなかったため、とても苦戦しました。</p>
	<h2>Ruby</h2>
	<%= image_tag("ruby.jpg") %>
	<h2>Git/Github</h2>
	<%= image_tag("git.jpg") %>
	<h2>Heroku</h2>
	<%= image_tag("heroku.jpg") %>
	<h2>jQuery</h2>
	<%= image_tag("jquery.jpg") %>
	<h2>etc.</h2>
	<%= image_tag("source.jpg") %>
</div>