<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- /jQueryを読み込む -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- /スクリプトを読み込む -->
  <%= javascript_include_tag 'application' %> 

</head>
<body>

<header>
	<div class="container">
		<div class="header-left">
			<%= image_tag("taiki.png", :class => "logo") %>
		</div>
		<div class="header-right">
			<a href="/" class="login">趣味</a>
		</div>
		<div class="header-right">
			<a href="/" class="login">仕事</a>			
		</div>
		<div class="header-right">
			<a href="/" class="login">プロフィール</a>
		</div>
	</div>
</header>

<%= yield %>

</body>
</html>
